<%= form_for @feed, :remote => true do |f| %>
    <div class="formField">
	    <%= f.label "Feed URL" %>
	    <%= f.text_field :url, :size => 20 %>
    </div>
    <div class="formField">
    	<%= f.label "Tags" %>
    </div>
    <%= f.submit :value => "Add feed" %>
<% end %>
