<h3>Manage your feeds</h3>
<%@feeds.each do |feed| %>
	<div id="feed_<%= feed.id %>" class="manageFeedRow">
		<span class="manageFeedRowTitle"><strong><a href="<%= feed.url %>"><%= feed.title %></a></strong></span>
		
		<!--
		<%if feed.status == 1 then %>
			<span class ="manageFeedRowOKStatus">Up to date!</span>
		<% elsif feed.status == 2 then %>
			<span class ="manageFeedRowWaitingStatus">Still loading...</span>
		<% else %>
			<span class ="manageFeedRowErrorStatus">Uh oh, something is wrong :(</span>
		<% end %>
		-->
		
		<ul class="manageFeedRowTags">
			<% @tags.each do |tag| %>
				<% if tag.feed_id == feed.id then %>
				<li><%= tag.name %></li>	
				<% end %>
			<% end %>
		</ul>

		<%= link_to "Delete feed", unsubscribe_path(feed.id), :remote => true, :class => "unsubscribe" %>
		<%= link_to "Add tags", "#", :onclick => "addTags("+feed.id.to_s+")" %>
		<%= link_to "Delete tags", "#", :onclick => "deleteTags("+feed.id.to_s+")" %>
	</div>
<% end %>

<div id="addTags-modal-content">
	<div id="addTags-modal-title">Add tags</div>
	<div id="addTags-modal-data">
		<%= render 'tags/form' %>
	</div>
</div>

<div id="deleteTags-modal-content">
	<div id="deleteTags-modal-title">Delete tags</div>
	<div id="deleteTags-modal-data">
		
	</div>
</div>
