<!DOCTYPE html>
<html>
<head>
  <title>Salon</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <header>
    	<h1>amplifize</h1>
    	<h3>Give good content a voice</h3>
    	
    	<div id="navigation">
        <% if current_user %>
        <%= link_to "Add Feed", :root %>
        <%= link_to "Profile", :root %>
        <%= link_to "Logout", :logout %>
        <% else %>
        <%= link_to "Register", new_user_path%> 
        <%= link_to "Login", :login %>
        <% end %>
        </div>
        <div style="clear:both"></div>
    </header>
    
    <div id="content">
    <%= yield %>
    </div>

	<div id="footer">
		Built by Big Fish, Big Pond Inc. &copy; 2011
		<%= link_to "About", :about %>
		<%= link_to "Contact Us", :contact %>
		<%= link_to "Terms", :terms %>
	</div>
</body>
</html>
