<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "feeds.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "feeds.js", "addShare.js", "addTags.js", "deleteTags.js" %>
	<script type="text/javascript">
		var posts = <%= @posts %>;
		$(document).ready(function() {
			$("#shareUnreadCount").html("<%= @shares_unread_count %>");
		});
	</script>
<% end %>

<% content_for :appNav do %>
	<% render "users/reader/app_nav_view.html.erb", :view => "feeds" %>
<% end %>

<%= render "users/reader/content_view.html.erb", :view => "feeds" %>

<div id="addShares-modal-content">
	<div id="addShares-modal-title">Share post</div>
	<div id="addShares-modal-data">
		<form method="POST" action="/shares/add" data-remote="true" id="addShareForm">
			<input type="hidden" value="" id="sharePostId" name="postId" />
			<label for="summary">Summary (required)</label><br/>
			<textarea name="summary" id="summary" cols="20"></textarea><br/>
			<input type="submit" value="Share" />
		</form>
	</div>
</div>

<div id="addFeed-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Add RSS feed by URL</h3>
	</div>
	<div id="modal-body" class="modal-body-style">
		<%= render 'feeds/form' %>
	</div>
</div>
    
<div id="importFeed-modal-content" class="modal hide">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Add feeds from Google Reader</h3>
	</div>
	<div id="modal-body" class="modal-body-style">
		<%= render 'import/google' %>
	</div>
</div>
