<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "feeds.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "feeds.js" %>
	<script type="text/javascript">
		var posts = <%= @posts %>;
		$(document).ready(function() {
			$("#shareUnreadCount").html("<%= @shares_unread_count %>");
		});
	</script>
<% end %>

<% content_for :appNav do %>
	<% render "users/reader/app_nav_view.html.erb", :view => "feeds" %>
<% end %>

<%= render "users/reader/content_view.html.erb", :view => "feeds" %>

<div id="addShare-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Share content</h3>
	</div>
	<div id="modal-body" class="modal-body-style">
		<form method="POST" action="/shares/add" data-remote="true" id="addShareForm">
			<input type="hidden" value="" id="sharePostId" name="postId" />
			<label for="summary">Comment (required)</label>
			<textarea name="summary" id="summary" style="width: 500px; height: 51px;"></textarea><br/>
			<input type="submit" value="Share" />
		</form>
	</div>
</div>

<div id="addFeed-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Add RSS feed by URL</h3>
	</div>
	<div id="modal-body" class="modal-body-style">
		<%= render 'feeds/form' %>
	</div>
</div>
