<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "feeds" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "feeds", "autocomplete-rails" %>
<% end %>

<div id="subNav">
	<div id="contentViewOptions">
		<div class="subNavItem">
			<span class="navLabel">Content order:</span>
			<select id="toggleContentSelect" onchange="toggleContentOrder();">
				<option value="newestFirst">Newest first</option>
				<option value="oldestFirst">Oldest first</option>
			</select>
			<div class="clear"></div>
		</div>
		<div class="subNavItem">
			<span class="navLabel">Content layout:</span>
			<select id="toggleContentLayout" onchange="toggleContentLayout();">
				<option value="postView">Post view</option>
				<option value="titleView">Title view</option>
			</select>
			<div class="clear"></div>
		</div>
		<div class="subNavItem">
			<span class="navLabel">Content sort:</span>
			<select id="toggleContentSort" onchange="toggleContentSort();">
				<option value="unreadOnly">New content only</option>
				<option value="allContent">All content</option>
			</select>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="contentStateOptions">
		<a href="#" onclick="downPost();" id="previousContent" class="btn" title="Previous content">&lt;</a>
		<a href="#" onclick="upPost();" id="nextContent" class="btn" title="Next content">&gt;</a>
		<div class="clear"></div>
	</div>
	<div style="clear:both"></div>
</div>
<div id="menubar">
        <div id="contentOptions">
          <a href="#addShare-modal-content" data-toggle="modal" class="navTab"><%= image_tag "reader/share.png", :alt => "Share content", :title => "Share content" %></a>
          <a href="#" onclick="setReadState(1);"><%= image_tag "reader/read-later.png", :alt => "Read later", :title => "Read later" %></a>
        </div>
      	<div id="sectionNavigation">
      		<a href="#addFeed-modal-content" data-toggle="modal"><%= image_tag "reader/add.png", :alt => "Add a new feed", :title => "Add a new feed" %></a>
      		<a href="/my/feeds"><%= image_tag "reader/manage.png", :alt => "Manage existing feeds", :title => "Manage existing feeds" %></a>
      		<a href="#" onclick="markAllAsRead();"><%= image_tag "reader/clear.png", :alt => "Clear all content", :title => "Clear all content" %></a>
      	</div>
      	<div class="clear"></div>
      </div>
	<div id="source_content">
      	<div id="contentSourceSite">Currently reading <span id="feedTitle"></span> from <span id="currentTag">all tags</span>. <a href="#" onclick="filterContent();">Filter content</a></div>
		<div id="contentMetadata">
    		<div id="contentTitleBanner">
    			<div id="contentTitle"></div>
    			<div class="clear"></div>
    		</div>
    		<p id="contentInfoLine"><span id="contentPublishDate"></span><span id="contentArthur"></span></p>
		</div>
		<div id="contentBody">
		</div>
	</div>

<div id="addShare-modal-content" class="modal hide" style="z-index:2000;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Share content</h3>
	</div>
	<div id="modal-body" class="modal-body-style">
		<form method="POST" action="/shares/add" data-remote="true" id="addShareForm">
			<input type="hidden" value="" id="sharePostId" name="postId" />
			<label for="summary">Comment (required)</label>
			<textarea name="summary" id="summary" style="width: 470px; height: 100px;" class="htmlEditor"></textarea><br/>
			<input type="submit" value="Share" />
		</form>
	</div>
</div>

<div id="addFeed-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Add feeds by URL</h3>
	</div>
	<div class="modal-body modal-body-style">
		<%= render 'feeds/form' %>
	</div>
</div>

<div id="postPopup-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 id="popup_contentTitle"></h3>
		<div id="popup_contentOptions">
			<a href="#addShare-modal-content" data-toggle="modal" class="navTab"><%= image_tag "reader/share.png", :alt => "Share content", :title => "Share content", :id => "popup_share_icon" %></a>
			<a style="margin-left: -10px;" href="#" onclick="setReadState(1);"><%= image_tag "reader/read-later.png", :alt => "Read later", :title => "Read later", :id => "popup_read-later_icon" %></a>
			<a style="margin-left: 10px;" href="#" onclick="downPost();" id="popup_previousContent" class="btn" title="Previous content">&lt;</a>
			<a style="margin-left: 10px;" href="#" onclick="upPost();" id="popup_nextContent" class="btn" title="Next content">&gt;</a>			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="modal-body modal-body-style" style="max-height: none; min-height:90%; width:910px; padding-top: 0px;">
		<div id="popup_source_content">
			<div id="popup_contentSourceSite">Currently reading <span id="popup_feedTitle"></span> from <span id="popup_currentTag">all tags</span>.</div>
			<div id="popup_contentMetadata">
				<p id="popup_contentInfoLine"><span id="popup_contentPublishDate"></span><span id="popup_contentArthur"></span></p>
			</div>
			<div id="popup_contentBody">
			</div>
		</div>
	</div>
</div>

<div id="filterContent-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Filter feed sources</h3>
		<div class="clear"></div>
	</div>
	<div class="modal-body modal-body-style">
		<form id="filterForm" onsubmit="setNewFilter();">
			<input type="text" id="newFilter" data-autocomplete="/users/autocomplete_tag_name" />
			<input type="submit" value="Set filter" />
		</form>
		<a href="#" onclick="clearFilter();return false;">Clear filter</a>
	</div>
</div>
