<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "feeds.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "feeds.js", "addShare.js", "addFeed.js", "importFeed.js", "addTags.js", "deleteTags.js" %>
	<script type="text/javascript">
		var posts = <%= @posts %>;
		$(document).ready(function() {
			$("#shareUnreadCount").html("<%= @shares_unread_count %>");
		});
	</script>
<% end %>

<%= render "users/reader/content_view.html.erb", :view => "feeds" %>

<div id="addShares-modal-content">
	<div id="addShares-modal-title">Share post</div>
	<div id="addShares-modal-data">
		<form method="POST" action="/shares/add" data-remote="true" id="addShareForm">
			<input type="hidden" value="" id="sharePostId" name="postId" />
			<label for="summary">Summary (required)</label><br/>
			<textarea name="summary" id="summary" cols="20"></textarea><br/>
			<input type="submit" value="Share" />
		</form>
	</div>
</div>

<div id="addFeed-modal-content">
	<div id="addFeed-modal-title">Add feed by URL</div>
	<div id="addFeed-modal-data">
		<%= render 'feeds/form' %>
	</div>
</div>

<div id="importFeed-modal-content">
	<div id="importFeed-modal-title">Import OPML file</div>
	<div id="importFeed-modal-data">
		<%= render 'feeds/import' %>
	</div>
</div>
