<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "people.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "people.js" %>
<% end %>

<% content_for :subnav do %>
	<div id="findFormDiv" class="peopleForm">
		<div id="findFriends-form">
			<h3>Find people to follow</h3>
			<p>Find the people you know on amplifize by entering their email in the form below.</p>
			<%= render "users/search_form" %>
		</div>
		<div id="findFriends-response" class="hide">
			<p id="userSearchResults">Results<p>
			<div id="emptyUserSearchResult"></div>
			<div id="userSearchResult"></div>
		</div>
	</div>
	<div id="orDiv" class="peopleForm">
		<span class="orCircle">or</span>
	</div>
	<div id="emailDiv" class="peopleForm">
		<div id="inviteFriends-form">
			<h3>Invite friends to join amplifize</h3>
			<p>Invite others to start sharing on amplifize by entering their email below.</p>
			<%= render "users/invite_form" %>
		</div>
		<div id="inviteFriends-response" class="hide">
			<p>Done! Your friends have been invited.</p>
		</div>
	</div>
	<div class="clear"></div>
<% end %>

<div id="subscribedTo" class="peopleInfo">
	<h3>You are subscribed to:</h3>
	<% @subscribed_to.each do |subscriber| %>
	<div id="subscriber_<%= subscriber.id %>" class="subscribedToRow">
		<span class="subscriberName"><%= subscriber.display_name.nil? ? subscriber.email : subscriber.display_name %></span>
		<%= link_to "Unsubscribe", unsubscribe_person_path(subscriber.id), :remote => true, :class => "unsubscribe", :id => "unsubscribe_"+subscriber.id.to_s %>
		<script type="text/javascript">
			$('#unsubscribe_<%= subscriber.id %>').bind("ajax:success", function(status, data, xhr) {
				$("#subscriber_"+data.user_id).remove();
			});
		</script>
	</div>
	<% end %>
</div>
<div id="followedBy" class="peopleInfo">
	<h3>You are followed by:</h3>
	<% @followed_by.each do |follower| %>
	<div>
		<%= follower.display_name.nil? ? follower.email : follower.display_name %>
		<% if not @subscribed_to.include? follower %>
			<span id="inline_follow_<%= follower.id %>"><a href="#" onclick="inlineFollowUser(<%= follower.id %>);return false;">Follow back</a></span>
		<% end %>
	</div>
	<% end %>
</div>
