<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "people.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "people.js", "findPeople.js" %>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#shareUnreadCount").html("<%= @shares_unread_count %>");
			$("#feedUnreadCount").html("<%= @posts_unread_count %>");
		});
	</script>
<% end %>

<% content_for :appNav do %>
	<a href="#findPeople-modal-content" data-toggle="modal" class="btn">Find people to subscribe to</a>
	<a href="#inviteFriends-modal-content" data-toggle="modal" class="btn">Invite Friends to join Amplifize</a>
	<hr/>
<% end %>

<div id="subscribedTo">
	<h3>You are subscribed to:</h3>
	<% @subscribedTo.each do |subscriber| %>
	<div id="subscriber_<%= subscriber.id %>" class="subscribedToRow">
		<span class="subscriberName"><%= subscriber.display_name.nil? ? subscriber.email : subscriber.display_name %></span>
		<%= link_to "Unsubscribe", unsubscribe_person_path(subscriber.id), :remote => true, :class => "unsubscribe", :id => "unsubscribe_"+subscriber.id.to_s %>
		<script type="text/javascript">
			$('#unsubscribe_<%= subscriber.id %>').bind("ajax:success", function(status, data, xhr) {
				$("#subscriber_"+data.user_id).remove();
			});
		</script>
	</div>
	<% end %>
</div>

<div id="findPeople-modal-content" class="modal hide">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Find people to follow</h3>
	</div>
	<div id="modal-body" class="modal-body-style">
		<%= render "users/search_form" %>
		<div id="userSearchResultsDiv">
			<p id="userSearchResults">Results<p>
			<p id="emptyUserSearchResult"></p>
			<table id="userSearchResultsTable">
				<tbody>
					
				</tbody>
			</table>
		</div>
	</div>
</div>


<div id="inviteFriends-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Invite Friends to join Amplifize</h3>
	</div>
	<div id="inviteFriends-modal-body" class="modal-body-style">
		<p>To invite your friends to start sharing on Amplifize, simply enter their email address below.  You can also 
			include a short, personalized message.</p>
		<%= render "users/invite_form" %>
	</div>
	<div id="inviteFriends-response-modal-body" class="modal-body-style">
		<p>Done! Your friends have been invited.  <a href="#" data-dismiss="modal">Close</a></p>
	</div>	
</div>

