<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "people.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "people.js", "findPeople.js" %>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#shareUnreadCount").html("<%= @shares_unread_count %>");
			$("#feedUnreadCount").html("<%= @posts_unread_count %>");
		});
	</script>
<% end %>

<div id="findPeopleContent">
	<h3>Find people to follow</h3>
	
	<div id="findByAddressBook">
		<div class="addressBookOption">
			<a href="/oauth_consumers/google">GMail Contacts</a> <!-- <%= image_tag("people/gmail_logo.png", :size => "120x60", :alt => "Find GMail contacts on amplifize") %> -->
		</div>
		<!--
		<div class="addressBookOption">
			<a href="/oauth_consumers/twitter">Twitter</a>
		</div>
		-->
		<div class="addressBookOption">
			<a href="/oauth_consumers/facebook">Facebook</a>
		</div>
	</div>
	
	<%= render "users/search_form" %>
	<div id="userSearchResultsDiv">
		<p id="userSearchResults">Results<p>
		<p id="emptyUserSearchResult"></p>
		<table id="userSearchResultsTable">
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>
