<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "shares.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "shares.js" %>
	<script type="text/javascript">
		var shares = <%= @shares %>;
		$(document).ready(function() {
			$("#feedUnreadCount").html("<%= @posts_unread_count %>");
		});
	</script>
<% end %>

<% content_for :appNav do %>
	<% render "users/reader/app_nav_view.html.erb", :view => "shares" %>
<% end %>

<% content_for :subNav do %>
	<%= render "users/reader/subnav_view.html.erb", :view => "shares" %>
<% end %>

<% content_for :content_source_list do %>
	<%= render "feeds/content_source_list.html.erb", :view => "shares" %>
<% end %>



<%= render "users/reader/content_view.html.erb", :view => "shares" %>

<div id="addComment-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Continue the conversation</h3>
	</div>
	<div id="modal-body" class="modal-body-style">
		<%= render 'comments/form' %>
	</div>
</div>
