<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "shares.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "shares.js", "commentModal.js" %>
	<script type="text/javascript">
		var shares = <%= @shares %>;
	</script>
<% end %>

<%= render "users/reader/content_view.html.erb", :view => "shares" %>

<div id="addComment-modal-content">
	<div id="addComment-modal-title">Comment</div>
	<div id="addComment-modal-data">
		<%= render 'comments/form' %>
	</div>
</div>
