<%= form_for(@user) do |f| %>

  <% if not @invite_id.nil? %>
  <%= hidden_field_tag(:invite_id, @invite_id) %>
  <% end %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Oops, something went wrong with your registration.</h2>
	  <!-- <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: -->
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label :password_confirmation %><%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
  	<%=f.label "What is 2 + 2?"%>
	<input id="captcha" type="text" size="30" name="captcha" />
  </div>
  <div class="actions">
    <%= f.submit :value => 'Register new user' %>
  </div>
<% end %>