<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "reader.css", "reader-overlay.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "reader.js", "jquery.simplemodal.js", "addFeedModal.js", "manageFeedModal.js", "dateFormat.js", "findPeopleModal.js", "manageFollowsModal.js", "addShare.js" %>
	<script type="text/javascript">
		var posts = <%= @posts %>;
	</script>
<% end %>

<p id="notice"><%= notice %></p>
<ul class="topnav">
	<li>
		<a href="#">Feeds</a>
		<ul class="subnav">
			<li id="addFeedNavItem"><a href="#">Add feed</a></li>
			<li id="manageFeedNavItem"><a href="#">Manage feeds</a></li>
		</ul>
	</li>
	<li>
		<a href="#">People</a>
		<ul class="subnav">
			<li id="findPeopleNavItem"><a href="#">Find someone to follow</a></li>
			<li id="manageFollowsNavItem"><a href="#">Manage follows</a></li>
		</ul>
	</li>
	<div style="clear: both;"></div>
</ul>  
<div id="amplifizeContentNavigation">
	<a href="#" onclick="downPost();">previous</a>
	<a href="#" onclick="upPost();">next</a>
	<a href="#" onclick="setReadState(1);">keep unread</a>
	<a href="#" onclick="setReadState(2);">bookmark</a>
	<a href="#" id="shareNavItem">share</a>
</div>

<div id="amplifizeContent">
	<br/><br/>
	<div id="contentTitle"></div>
	<div id="contentPublishDate"></div>
	<div id="contentSummary"></div>
</div>


<div id="addFeed-modal-content">
	<div id="addFeed-modal-title">Add feed</div>
	<div id="addFeed-modal-data">
		<%= render "feeds/form" %>
		<hr/>
	
		<h3>Import feeds</h3>
		<%= render 'feeds/import' %>
	</div>
</div>
<div id="manageFeed-modal-content">
	<div id="manageFeed-modal-title">Manage feeds</div>
	<div id="manageFeed-modal-data">
		<h3>Manage feeds</h3>
		<table id="feedTable">
			<tr>
				<td width="75%">Feed</td>
				<td>Options</td>
			</tr>
		<% @my_feeds.each do |feed|%>
			<tr id="tr_<%= feed.id %>">
				<td><%= feed.url %></td>
				<td>
					<%= link_to "Delete", unsubscribe_url(:feed_id => feed.id), :remote => true %>
				</td>
			</tr>
		<%end%>
		</table>
	</div>
</div>
<div id="findPeople-modal-content">
	<div id="findPeople-modal-title">Find people to follow</div>
	<div id="findPeople-modal-data">
		<%= render "users/search_form" %>
		
		<div id="userSearchResultsDiv">
			<p id="userSearchResults">Results<p>
			<table id="userSearchResultsTable">
				<tbody>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
<div id="manageFollows-modal-content">
	<div id="manageFollows-modal-title">Manage follows</div>
	<div id="manageFollows-modal-data">
		<table id="followTable">
			<tr>
				<td width="75%">Email</td>
				<td>Options</td>
			</tr>
		<% if not @my_follows.nil? then %>
			<% @my_follows.each do |follow|%>
			<%end%>
		<%end%>
		</table>
	</div>
</div>
<div id="addShares-modal-content">
	<div id="addShares-modal-title">Share post</div>
	<div id="addShares-modal-data">
		<form method="POST" action="/shares/add" data-remote="true" id="addShareForm">
			<input type="hidden" value="" id="sharePostId" name="postId" />
			<label for="summary">Summary</label>
			<textarea name="summary" id="summary"></textarea>
			<input type="submit" value="Share" />
		</form>
	</div>
</div>
