<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "homepage.css" %>
<% end %>

<div id="banner">
	<div id="pitch">
		<%= image_tag("homepage/banner-conversation.png") %>
		<h2 style="color:#35a2dc; margin-bottom: -10px; margin-top:60px;">Discover content</h2>
		<h2 style="margin-bottom: 40px;">worth talking about</h2>
		<a href="/register">Get started</a>
		<div style-"clear:both;"></div>
	</div>
	<div style-"clear:both;"></div>
</div>
<div id="sellingPoints">
	<div class="sellingPoint">
		<%= image_tag("homepage/discover-bubble.png") %>
		<h3 style="color:#5fd26a;">Discover</h3>
		<p>Know content is worth reading because your network is already talking about it.</p>
	</div>
	<div class="sellingPoint">
		<%= image_tag("homepage/share-bubble.png") %>
		<h3 style="color:#a7d7f1">Share</h3>
		<p>Help others discover great content when you share it.</p>
	</div>
	<div class="sellingPoint">
		<%= image_tag("homepage/discuss-bubble.png") %>
		<h3 style="color:#f7bc62;">Discuss</h3>
		<p>Get a new take on the content you share with your network.</p>
	</div>
	<div style-"clear:both;"></div>
</div>
