<%= form_tag("/feeds/import/import", :method => "post") do |f| %>
<% if @unsubscribed.empty? %>
<h3>There's nothing to import!</h3>
<% else %>
<h3>Feeds To Import</h3>
<%
index = 0
@unsubscribed.each do |subscription|
%>

<div style="border-bottom:1pt solid #000;padding:6px;">	
	<%= check_box_tag("feeds[#{index}]",subscription[:url], !subscription[:subscribed], :disabled => subscription[:subscribed], :style => "size:15pt;") %>
	<% if subscription[:subscribed] %><span>Already Subscribed!</span><%end%>
	<div><strong><%= label_tag(subscription[:url], subscription[:title]) %></strong><br />
	URL: <em><%=subscription[:url]%></em><br />
	Tags: <% subscription[:labels].each { |label| %>
		<%= label %>,
	<% } %>
	 <% subscription[:labels].each { |label| %>
		<%= hidden_field_tag("tags[#{index}][]", label) %>
	<% } %>
	</div>
</div>
<%
index = index+1
%>
<% end %>
<%= submit_tag("Import") %>
<% end %>

<% if !@subscribed.empty? %>
<div style="border-top: 1pt #000 solid; margin-top: 35px;">
<h4>Feeds You're Already Subscribed To</h4>
<ul>
<% @subscribed.each do |subscription|	%>
 <li><%=subscription[:title]%> (<%=subscription[:url]%>)</li>
<% end %>
</ul>
</div>
<% end%>
<% end %>