<%= form_for @tag, :remote=>true do |f| %>
	<%= f.hidden_field :feed_id %>
    <div class="formField">
    	<%= f.label "Tags" %>
    	<%= f.text_field :name, :size => 20 %>
    	<p class="instructions">Tags should be comma separated</p>
    </div>
  <div class="actions">
    <%= f.submit :value => "Add" %>
  </div>
<% end %>
