<p id="notice"><%= notice %></p>
<div id="feeds">
	<ul>
		<li><a href="#feeds-shares">Shares</a></li>
		<li><a href="#feeds-list">Feeds</a></li>
	</ul>
	<div id="feeds-shares">
		<% @my_shares.each do |item|%>
		<%end%>		
	</div>
	<div id="feeds-list">
		<% @my_posts.each do |post|%>
			<div class="post">
				<p><a href="<%=post.url%>"><%=post.title%></a></p>
				<p><%= post.written_dt %></p>
				<p><%= post.content.nil? ? '' : post.content.html_safe %></p>
			</div>
		<%end%>
	</div>
</div>
		<h3>Add feed</h3>
		<%= render "feeds/form" %>
		<hr/>
		<h3>Manage feeds</h3>
		<table id="feedTable">
			<tr>
				<td width="90%">Feed</td>
				<td>Options</td>
			</tr>
		<% @my_feeds.each do |feed|%>
			<tr id="tr_<%= feed.id %>">
				<td><%= feed.url %></td>
				<td><%= link_to "Delete", unsubscribe_url(:feed_id => feed.id), :remote => true %></td>
			</tr>
		<%end%>
		</table>
