<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "reader.css", "addFeedModal.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "jquery.simplemodal.js", "addFeedModal.js" %>
<% end %>

<p id="notice"><%= notice %></p>
<ul class="topnav">  
	<li><a href="#">Home</a></li>
	<li>
		<a href="#">Feeds</a>
		<ul class="subnav">
			<li id="addFeedNavItem"><a href="#">Add feed</a></li>
			<li id="manageFeedsLinkNavItem"><a href="#">Manage feeds</a></li>
			<li id="importFeedsNavItem"><a href="#">Import feeds</a></li>
		</ul>
	<li>  
    	<a href="#">Amplified</a>  
	</li>
	<li>
    	<a href="#">Crowds</a>  
    	<ul class="subnav">  
        	<li><a href="#">Invite friends</a></li>
        	<li><a href="#">Manage crowds</a></li>
    	</ul>
	</li>
	<div style="clear: both;"></div>
</ul>  



<div id="addFeed-modal-content">
	<div id="addFeed-modal-title">Add feed</div>
	<div id="addFeed-modal-data"><%= render "feeds/form" %></div>
</div>
<!--
<div id="manageFeeds">
	<h3>Manage feeds</h3>
	<table id="feedTable">
		<tr>
			<td width="90%">Feed</td>
			<td>Options</td>
		</tr>
	<% @my_feeds.each do |feed|%>
		<tr id="tr_<%= feed.id %>">
			<td><%= feed.url %></td>
			<td>
				<%= link_to "Delete", unsubscribe_url(:feed_id => feed.id), :remote => true %> | 
				<%= link_to "Refresh", refresh_url(:feed_id => feed.id), :remote => true %>
			</td>
		</tr>
	<%end%>
	</table>
</div>
<div id="importFeeds">
	<%= render 'feeds/import' %>
</div>
-->