<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "onboarding/onboardingImport.css", "jquery.labels", "jquery-ui-1.10.0.custom" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "bootstrap-modal", "jquery.labels", "jquery-ui-1.10.0.custom.min", "autocomplete-rails" %>
	<script type="text/javascript">
		var current_feed = undefined;
	
		$(document).ready(function() {
			$("#importStep").addClass("activeStep");
			
			$('form#new_feed').bind("ajax:success", function(data, status, xhr) {
				$("#subscribeLink").addClass("hide");
				$("#feedSubscribed").removeClass("hide");
			});
		
			$('form#new_feed').bind("ajax:failure", function(data, status, xhr) {
				//TODO: Log error here
			});
		});

		function skipOnboarding() {
			mixpanel.track("Skipped onboarding - Import feed")
		}

		function nextStepSuccess() {
			mixpanel.track("Import feed finished");
		}

		function tagSelected(tagName) {
			$.ajax({
				url: "/tags/"+tagName+"/feeds",
				success: function(data, textStatus, jqXHR) {
					$("#feed_tags").val(tagName);
					$("#feeds option").remove();
					for(var i=0; i < data.length; i++) {
						var feed = data[i];
						var html = '<option onclick="feedSelected('+feed["id"]+')" value="'+feed["id"]+'">'+feed["title"]+'</option>';
						$("#feeds").append(html);
						
					}
				},
				error: function(xhr, text, error) {
				
				},
				dataType: "json"
			});
		}

		function feedSelected(feedId) {
			$.ajax({
				url: "/feeds/"+feedId,
				success: function(data, textStatus, jqXHR) {
					current_feed = data;
					$("#feed_url").val(current_feed["url"]);
					
					$("#subscribeLink").removeClass("hide");
					$("#feedSubscribed").addClass("hide");
					
					$("#feedTitle").html(data["title"]);
					$("#feedSummary").html(data["description"]);
					$("#feedDescription").removeClass("hide");
				},
				error: function(xhr, text, error) {
				
				},
				dataType: "json"
			})	
		}
		
		function subscribeToFeed() {
			$("#new_feed").submit();
		}
	</script>	
<% end %>

<h2>Find feeds to follow <a style="font-size: 15px; font-weight: normal; display:block; float:right;" href="/onboarding/friends" onclick="nextStep();">Next step</a></h2>
<div id="findFeedsSearchBox">
	<div class="findFeedsField">
		<label>Feed tags</label>
		<select id="feedTag" multiple="multiple">
			<% @tags.each do |tag| %>
			<option onclick="tagSelected('<%= tag.name %>')" value="<%= tag.name %>"><%= tag.name %></option>
			<% end %>
		</select>
	</div>
	<div class="findFeedsField">
		<label>Feeds</label>
		<select id="feeds" multiple="multiple">
			<option value="placeholder">Select a tag to find new feeds</option>
		</select>
	</div>
	<div id="feedDescription" class="findFeedsField hide">
		<h3 id="feedTitle"></h3>
		<p id="feedSummary"></p>
		<a id="subscribeLink" href="#" onclick="subscribeToFeed();return false;">Subscribe</a>
		<p id="feedSubscribed" class="hide">Subscription successful</p>
		<p id="nextStepInstructions">Finished selecting feeds? Click next step above.</p>
		<div class="hide">
			<%= render 'feeds/form' %>
		</div>
	</div>
	<div class="clear"></div>
</div>
<p>Or import your feeds from an <a href="#importFile-modal" data-toggle="modal" onclick="return false;">OPML file</a></p>

<div id="importFile-modal" class="modal hide fade">
    <div class="modal-header">
    	<h3>Import from an OPML file</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
		<p>Export your feeds from other readers as an OPML file, and upload it here.</p>
		<%= form_for :import, :url => :import_opml, :html => {:multipart => true, :id => "importForm"} do |f| %>
			<div class="formField">
    			<label class="input">
    				<span>OPML file</span>
    				<%= f.file_field :opml_file %>
    			</label>
			</div>
			<div class="formField">
				<%= f.submit "Import" %>
			</div>
		<% end %>
    </div>
</div>
