<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="input">
    	<span>Email</span>
    	<%= f.email_field :email %>
    </label>
  </div>
  <div class="field">
  	<label class="input">
  		<span>Password</span>
  		<%= f.password_field :password %>
  	</label>
  </div>
  <div class="actions">
    <input type="submit" style="color: #fff; padding: 5px; width: 50px; font-size: 15px; background-color: #3AAADB; border-radius: 12px;-moz-border-radius: 12px;-webkit-border-radius: 12px; border: 1px solid #3AAADB;" value="Login" />
    <a style="float: right;" href="<%= new_password_reset_url %>">Forgot password?</a>
  </div>
<% end %>
