<!DOCTYPE html>
<html>
<head>
  <title>Amplifize | Great conversation goes best with great content</title>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "jquery.min", "jquery_ujs", "bootstrap-dropdown.js" %>
  <%= yield :javascripts %>
  <script type="text/javascript">
  	$.ajaxSettings.dataType = "json";
  
  	$(document).ready(function(){
		$('#loginLink').bind('click', function () {
	  		setTimeout(function(){$("#user_session_email").focus();}, 250);
		});
  	});
  </script>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="container">
	    <header class="navbar-fixed-top">
			<div class="navbar">
		    	<ul class="nav">
		    		<li class="active"><h1><a href="/">amplifize</a></h1></li>
		    	</ul>
		        <% if current_user %> 
		        <ul class="nav pull-right">
	    			<li><%= link_to "Home", :homepage %></li>
	    			<li><%= link_to "Logout", :logout %></li>
	    		</ul>
	    		<% else %>
	    		<ul class="nav pull-right">
	    			<li><%= link_to "Register", signup_path %></li>
	    			<li class="dropdown">
	    				<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="loginLink">Login<b class="caret"></b></a>
	    				<ul class="dropdown-menu">
	    					<li>
	    						<%= render 'user_sessions/form' %>
	    					</li>
	    				</ul>
	    			</li>
	    		<% end %>
	    		</ul>
	    		<div class="clear"></div>
			</div>
			<div class="clear"></div> 
	    </header>    
	    <div id="content" style="margin-top: 50px;">
		    <%= yield %>
	      	<div class="clear"></div>
	    </div>
		<%= render 'general/footer' %>
		<div class="clear"></div>
	</div>
</body>
</html>
