<!DOCTYPE html>
<html>
<head>
  <title>Amplifize | Give good content a voice</title>
  <%= stylesheet_link_tag "global.css" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag :defaults %>
  <%= yield :javascripts %>
  <%= csrf_meta_tag %>
</head>
<body>
    <header>
    	<h1>amplifize</h1>
    	<div id="navigation">
        <% if current_user %> 
        <%= link_to "Reader", :reader %>
        <!--<%= link_to "Account", :account %>-->
        <%= link_to "Logout", :logout %>
        <% else %>
        <!--<%= link_to "Register", new_user_path %>--> 
        <%= link_to "Login", :login %>
        <% end %>
        </div>
        <div style="clear:both"></div>
    </header>

    <div id="content">
	    <%= yield %>
	    <div style="clear:both"></div>
    </div>

	<div id="footer">
		<%= link_to "About Amplifize", :about %>
		<%= link_to "Contact Us", :contact %>
		<%= link_to "Terms & Conditions", :terms %>
		<span class="copyright">Built by Big Fish, Big Pond Inc. &copy; 2011</span>
		<div style="clear:both"></div>
	</div>
	<script type="text/javascript">
  		var uvOptions = {};
  		(function() {
    		var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    		uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/F73fXEQJeNksQxotASDg.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  		})();
	</script>
</body>
</html>
