<!DOCTYPE html>
<html>
<head>
  <title>Amplifize | Give good content a voice</title>
  <%= stylesheet_link_tag "global.css", "reader.css", "reader-overlay.css" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag :defaults, "reader.js", "jquery.simplemodal.js", "jquery.hotkeys.js", "dateFormat.js" %>
  <%= yield :javascripts %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
	    <header>
	    	<h1><a href="/">amplifize</a></h1>	
	        <div style="clear:both"></div>
	    </header>
		<!--<p id="notice"><%= notice %></p> -->
	    <div id="reader_content">
  			<div id="navigation">
  				<ul class="drawers">
					<li id="feedsNav" class="drawer">
						<a href="/reader">Feeds</a>
						<span id="feedUnreadCount"></span>
						<ul>
							<li><a href="#" id="addFeedLink">Add feed</a></li>
							<li><a href="#" onclick="loadManageFeeds();">Manage feeds</a></li>
							<li><a href="#" id="importFeedLink">Import feeds</a></li>
						</ul>
					</li>
					<li class="drawer">
						<a href="/reader/shares">Shares</a>
						<span id="shareUnreadCount"></span>
					</li>
					<li id="peopleNav" class="drawer">
						<a href="/reader/people">People</a>
						<ul>
							<li><a href="#" onclick="loadManagePeople();">Manage people</a></li>
						</ul>
					</li>
					<li class="drawer">
						<a href="/profile">Account</a>
					</li>
					<div style="clear: both;"></div>
				</ul>
		    </div>

		    <%= yield %>
		    <div style="clear:both"></div>
	    </div>

		<%= render 'general/footer.html.erb' %>
		<div style="clear: both;"></div>
	</div>
	<div style="clear: both;"></div>
	<script type="text/javascript">
  		var uvOptions = {};
  		(function() {
    		var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    		uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/F73fXEQJeNksQxotASDg.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  		})();
	</script>
</body>
</html>
