<!DOCTYPE html>
<html>
<head>
  <title>Amplifize | Great conversation goes best with great content</title>
  <%= stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Roboto:400,700,100", "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700", "reader", "reader-overlay", "jquery-ui-1.10.0.custom", "markitup/skins/markitup/style", "markitup/sets/html/style" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "jquery.min", "jquery_ujs", "reader", "jquery.hotkeys", "jquery.cookie", "dateFormat", "bootstrap-modal", "jquery.markitup", "jquery-ui-1.10.0.custom.min", "markItUp" %>
  <%= yield :javascripts %>
    <script type="text/javascript">
    	$.ajaxSettings.dataType = "json";
    
    	//application state
    	var contentOrder = $.cookie("contentOrder") ? $.cookie("contentOrder") : "newestFirst";
    	var contentLayout = $.cookie("contentLayout") ? $.cookie("contentLayout") : "postView";
    	var contentSort = $.cookie("contentSort") ? $.cookie("contentSort") : "unreadOnly";

    	var currentFilter = "all";

		$(document).ready(function() {
			$("#shareUnreadCount").html("<%= @shares_unread_count %>");
			$("#feedUnreadCount").html("<%= @posts_unread_count %>");
		});
  </script>
  <%= csrf_meta_tag %>
</head>
<body>
    <header>
		<div class="navbar">
	    	<ul class="nav">
	    		<li class="active logo"><h1><a href="/">amplifize</a></h1></li>
	    	</ul>
			<ul class="nav" style="margin-left:254px;">
				<li><%= link_to 'Home', :homepage %></li>
				<li><a href="/my/content">Content <span id="feedUnreadCount"></span></a></li>
				<li><a href="/my/conversations">Conversations <span id="shareUnreadCount"></span></a></li>
				<li><%= link_to 'People', :people %></li>
			</ul>
			<ul class="nav pull-right">
				<li><%= link_to 'Account', :profile %></li>
				<li><%= link_to "Logout", :logout %></li>
			</ul>
			<div style="clear:both"></div>
		</div>
		<div style="clear:both"></div>
    </header>
    <div id="subNav">
    	<div id="subNavContainer">
    		<%= yield :subnav %>
    	</div>
    </div>
    <div id="content">
		<%= yield %>
      	<div class="clear"></div>
    </div>
	<%= render 'general/footer' %>
	<div id="overlay">
	    <div>
	          <p>Loading</p>
	          <%= image_tag "reader/loader.gif" %>
	     </div>
	</div>
	<div class="clear"></div>
</body>
</html>
